[Server]
Host      = "localhost"
Port      = 8075
IsDevel   = true
EnableVFS = true

[Database]
Addr            = "localhost:5432"
User            = "postgres"
Database        = "logs-hub-backend"
Password        = ""
PoolSize        = 5
ApplicationName = "logs-hub-backend"
