# project service name
NAME := logs-hub-backend

# local database connection settings
TEST_PGDATABASE ?= test-logs-hub-backend

PGDATABASE ?= logs-hub-backend
PGHOST ?= localhost
PGPORT ?= 5432
PGUSER ?= postgres
PGPASSWORD ?= postgres

# add -race to GOFLAGS if RACE=1
RACE=0
