name: Go Linters

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: read

jobs:
  lint-go:
    name: lint-go
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
          
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest